h1{
    font-size: 20px;
}

.iconCollectionContainer{
    display: flex;
    justify-content: center;
    gap: 20px; /* Add gap to create space between the icons */
    margin-bottom: 20px;
}

.iconCollection{
    display: inline-block;
}